@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Outfit', 'Inter', sans-serif;
  }
  
  canvas, img {
    image-rendering: pixelated;
    image-rendering: crisp-edges;
  }
  
  /* Reset general cursor for RPG mode */
  .custom-cursor-active, .custom-cursor-active * {
    cursor: none !important;
  }
}

/* RPG Estética Pixel Art */
.retro-container {
  background-color: #1a1525;
  border: 4px solid #ffffff;
  outline: 4px solid #1a1525;
  box-shadow: 0 8px 0 rgba(0, 0, 0, 0.4);
  contain: layout style;
}

.retro-border-double {
  border: 4px solid #000;
  box-shadow: 0 0 0 4px #fff, 0 0 0 8px #000;
}

.retro-border-pixel {
  border: 4px solid #000000;
  background-color: #ffffff;
  box-shadow: 4px 4px 0px #000000;
}

.retro-btn {
  font-family: 'Press Start 2P', monospace;
  font-size: 0.75rem;
  line-height: 1rem;
  border: 4px solid #000;
  background-color: #fff;
  color: #000;
  box-shadow: 4px 4px 0 #000;
  padding: 12px 18px;
  image-rendering: pixelated;
  transition: transform 0.05s ease, box-shadow 0.05s ease;
  cursor: none !important;
  contain: layout style;
}

.retro-btn:hover {
  background-color: #ffd1dc; /* Color rosa pastel */
  transform: translate(-1px, -1px);
  box-shadow: 5px 5px 0 #000;
}

.retro-btn:active {
  transform: translate(3px, 3px);
  box-shadow: 1px 1px 0 #000;
}

/* Panel Glassmorphism adaptado a RPG (Bordes duros y oscuros) */
.glass-panel-retro {
  background: rgba(26, 21, 37, 0.85);
  backdrop-filter: blur(8px);
  border: 4px solid #fff;
  box-shadow: 0px 8px 0px rgba(0,0,0,0.5);
}

/* Glitch animation for Easter Egg */
@keyframes glitch {
  0% {
    clip-path: inset(40% 0 61% 0);
    transform: skew(0.3deg);
  }
  20% {
    clip-path: inset(92% 0 1% 0);
    transform: skew(-0.5deg);
  }
  40% {
    clip-path: inset(15% 0 80% 0);
    transform: skew(0.5deg);
  }
  60% {
    clip-path: inset(80% 0 5% 0);
    transform: skew(-0.3deg);
  }
  80% {
    clip-path: inset(5% 0 92% 0);
    transform: skew(0.8deg);
  }
  100% {
    clip-path: inset(40% 0 61% 0);
    transform: skew(0deg);
  }
}

.glitch-effect {
  animation: glitch 0.2s infinite;
  filter: hue-rotate(120deg) contrast(180%) invert(10%);
}

/* Custom Scrollbar estilo retro */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #1a1525;
  border-left: 4px solid #000;
}

::-webkit-scrollbar-thumb {
  background: #fff;
  border: 2px solid #000;
}

::-webkit-scrollbar-thumb:hover {
  background: #ffd1dc;
}
